<div class="simple-page">
  <div class="simple-page__content">
    <div class="graph">
      <div class="graph__section">
        <div class="graph__section__title">0-10BBY</div>
        <div class="graph__section__content">
          <mat-card class="graph__item">
            Luke Skywalker
          </mat-card>
        </div>
      </div>
      <div class="graph__section">
        <div class="graph__section__title">21-40BBY</div>
        <div class="graph__section__content"></div>
      </div>
      <div class="graph__section">
        <div class="graph__section__title">41-60BBY</div>
        <div class="graph__section__content"></div>
      </div>
      <div class="graph__section">
        <div class="graph__section__title">61-80BBY</div>
        <div class="graph__section__content"></div>
      </div>
      <div class="graph__section">
        <div class="graph__section__title">81+BBY</div>
        <div class="graph__section__content"></div>
      </div>
      <div class="graph__section">
        <div class="graph__section__title">Unknown</div>
        <div class="graph__section__content"></div>
      </div>
    </div>
  </div>
</div>
